<!DOCTYPE html>
<html th:replace="~{/templates/main.html :: layout(~{::title}, ~{::section})}">
<head>
    <title>Hydrogen Gamma</title>
</head>
<body>
<section>
    <div class="card border-success mb-4">
        <div class="card-body">
            <form method="get" action="query">
                <legend class="border-bottom mb-4">Input</legend>
                <fieldset class="form-group">
                    <div class="form-group">
                        <label for="params">Parameters</label>
                        <textarea class="form-control" id="params" rows="3" name="params"
                                  placeholder="x=1.0; y=[0,1/1,2]; z=&quot;lorem ipsum&quot;; f=(sin(x));"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="params">Expression</label>
                        <textarea class="form-control" id="expr" rows="3" name="expr"
                                  placeholder="f^2/2*derivative(f)"></textarea>
                        <!-- yeah, sure. good luck with that. -->
                    </div>
                </fieldset>
                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">Compute</button>
                </div>
            </form>
        </div>
    </div>

    <!--/*@thymesVar id="tiles" type="java.util.ArrayList<controllers.QueryRoutes.Tile>"*/-->
    <!--/*@thymesVar id="tile" type="controllers.QueryRoutes.Tile"*/-->
    <div th:each="tile : ${tiles}" class="card border-success mt-1 mb-1">
        <div class="card-body">
            <!--/*@thymesVar id="label" type="java.lang.String"*/-->
            <h5 class="border-bottom mb-4" th:text="${tile.label}"></h5>
            <!--/*@thymesVar id="content" type="java.lang.String"*/-->
            <p th:utext="${tile.content}"></p>
        </div>
    </div>
</section>
</body>
</html>